body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

main {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  height: 500px;
  width: 500px;
  margin: 64px;
}

.cell {
  border: 1px solid black;
}

.filled {
  background-color: black;
}
