header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  height: 500px;
  width: 500px;
}

.cell {
  border: 1px solid black;
}

.filled {
  background-color: black;
}
